#mjtech {
    background-color: #E6E0D2;
    padding: 8rem 4rem;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#mjHead {
    font-size: 8rem;
    line-height: 8rem;
    text-align: right;
    font-family: 'black', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#mjDet {
    font-size: 2rem;
    font-family: 'black', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#serviceCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 3rem 0;
}

.serviceCard {

    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    min-height: 30vh;
    max-height: 45vh;
    justify-content: space-between;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.serviceCardRight img {

    width: 100%;
    border-radius: 0 0.5rem 0.5rem 0;
    object-fit: cover;
    height: 100%;
}

.serviceCardLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 60%;
    gap: 1rem;
    min-width: 60%;
}

.serviceCardHeading {
    font-family: 'black', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

.serviceCardRight {
    width: 40%;
}

.servBottom {
    background-color: black;
    width: fit-content;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

#list {
    list-style: none;


}

#list li {
    width: max-content;
    font-family: 'black', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width:768px) {
    #mjtech {
        padding: 5rem 1rem
    }

    #top {
        flex-direction: column-reverse;
    }

    #mjHead {
        text-align: left;
        font-size: 3rem;
        max-width: 90vw;
        line-height: 3rem;

    }

    #list {
        padding: 1rem 0;
    }

    #list li {
        width: 90vw;
    }

    #serviceCards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 90vw;
        padding: 1rem 0;
    }

    .serviceCard {
        width: fit-content;
        min-height: 225px;

    }

    .serviceCardHeading {
        font-size: 1.5rem;

    }

    .serviceCardLeft {
        padding: 1rem;
        gap: 1rem
    }

    .servBottom {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
    }
}